*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Libre Franklin', sans-serif;
    Font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    width: 1440px;
    height: 100vh;
    display: grid;
    grid-template-rows: .3fr .3fr .3fr 1fr .3fr;
    grid-template-areas:"logo"
                        "heading"
                        "inputbox"
                        "dashboard"
                        "socialIcons";
}
.logo{
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoImg{
    width: 100px;
    content: url(images/logo.svg);
}
.heading{
    grid-area: heading;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading h1{
    color: hsl(0, 0%, 59%);
    font-weight: 300;
    margin-bottom: 15px;
}
.heading h1 span{
    color: black;
    font-weight: 700;
}
.heading p{
    font-size: 16px;
}
.inputbox{
    height: 100px;
    grid-area: inputbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

#invalid-msg{
    color: hsl(354, 100%, 66%);
    font-size: 14px;
    margin-left: 20px;
    margin-top: 10px;
}

.inputTxtAndButton{
    height: 100px;
    padding-top: 27px;
}

.inputbox input[type=text]{
    width: 350px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid hsl(223, 100%, 88%);
    display: flex;
    align-items: center;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
}
::placeholder {
    color: hsl(223, 100%, 88%);
    opacity: 1;
}
button{
    opacity: 1;
    width: 150px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid hsl(223, 100%, 88%);;
    background-color: hsl(223, 87%, 63%);
    color: #fff;
    cursor: pointer;
    position:relative;
    left: 10px;
    box-shadow: 0px 5px 5px hsl(223, 100%, 88%);
}
button:hover{
    opacity: .8;
}
.dashboard{
    grid-area: dashboard;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashimg{
    content: url(images/illustration-dashboard.png);
    width: 500px;
}
.socialIcons{
    grid-area: socialIcons;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:"icons"
                        "iconspara";
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icns{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 1px solid #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(223, 87%, 63%);
}
.icns:hover{
    background-color: hsl(223, 87%, 63%);
    color: #fff;
}
.twitter{
    margin: 0 10px;
}
.fab{
    font-size: 12px;
}
.iconspara{
    grid-area: iconspara;
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: hsl(0, 0%, 59%);
}
.iconcontent{
    margin-left: 10px;
}

details[open] p {
    color: red;
}

/* mobile layout */

@media(max-width: 767px){
    .wrapper{
        width: 375px;
    }
    .logoImg{
        width: 60px;
        margin-top: 60px;
    }
    .heading h1{
        font-size: 25px;
    }
    .heading p{
        font-size: 14px;
    }
    .inputbox{
        height: 150px;
        flex-direction: column;
    }
    #invalid-msg{
        display: flex;
        justify-content: center;
    }
    .inputTxtAndButton{
        padding-top: 0px;
    }
    .inputbox input[type=text]{
        width: 300px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    button{
        width: 300px;
        left: 0;
    }
    .dashimg{
        width: 350px;
    }
    .icons{
        align-items: flex-start;
    }
    .icns{
        width: 30px;
        height: 30px;
    }
    .fab{
        font-size: 15px;
    }
}